* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(223, 223, 223);
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.jcs {
    justify-content: center;
}

.col-30 {
    width: 30%;
    margin: 0 auto;
}

.cart {
    border: 1px solid darkgray;
    padding: 10px 20px;
}

.cart-bg {
    border: 1px solid darkgrey;
    margin: 20px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

p {
    padding: 20px;
}

.cart-bg button {
    padding: 5px 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    justify-content: space-between;
}
#button1{
    margin-left: -5px;
}

.cart-bg button a {
    text-decoration: none;
    color: black;
    display: flex;    
}